<!-- Profile dropdown -->
<el-dropdown class="relative ml-3">
  <button class="relative flex rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    <span class="absolute -inset-1.5"></span>
    <span class="sr-only">Open user menu</span>
    <img src="<%= avatar_src %>" alt="" class="size-8 rounded-full outline -outline-offset-1 outline-black/5" />
  </button>

  <el-menu anchor="bottom end" popover class="w-48 origin-top-right rounded-md bg-white py-1 shadow-lg outline outline-black/5 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-200 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
    <% menu_items.each do |item| %>
      <a href="<%= item[:href] %>" class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:outline-hidden"><%= item[:name] %></a>
    <% end %>
  </el-menu>
</el-dropdown>
